# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Composer, Box, Pleasing, php_cs_fixer
/vendor/
/composer.phar
/box.phar
/pleasing.phar
/.php_cs.cache

# PHPStorm, VSCode
macos/.idea/
.vscode/

# Unison
.unison.*.unison.tmp